.navbar{
    background-image: url(imgs/carbon.jpeg);
    background-repeat: repeat; 
}

.logo{
    max-height: 100px;
}


#myCarousel{
    min-height: 750px !important;
    background: rgb(135,19,19);
    background: radial-gradient(circle, rgba(135,19,19,1) 55%, rgba(0,0,0,1) 100%);
    
}

.carousel-pic{
    max-height:750px;
}

body{
    background-color: #6b0407;
    color: white;
}

a{
    text-decoration: none;
    color: White;
}

a:hover{
    color: aqua;
}

.email-icon{
    color: white;
}

li{
    list-style: none;
}

li::before{
    content: "\00BB     ";
}

.gallery-container img{
    width: 100%;
}

.gallery-container .col{
    margin:0 !important;
    padding: 0 !important;
}